/* Global */
* {
	box-sizing: border-box;
}

/* Attributes */

:host {
	/* Host variables */
	--color: var(--toastive-content-color, #333);
	--font-size: var(--toastive-font-size, 0.8rem);
	--width: var(--toastive-width, 350px);
	--padding-vertical: var(--toastive-padding-vertical, 1rem);
	--padding-horizontal: var(--toastive-padding-horizontal, 1rem);

	/* Host styles */
	display: block;
	pointer-events: auto;
	position: relative;
	width: var(--width);
}

slot {
	display: block;
	width: fit-content;
}

slot[hidden] {
	display: none;
}

slot[name='title'] {
	font-weight: bold;
	margin-bottom: 0.2rem;
}

slot[name='icon'] {
	align-items: center;
	display: flex;
	justify-content: center;
	left: 1rem;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

/* Classes */

.toastive {
	align-items: flex-start;
	background: var(--toastive-background-color, #fff);
	border: var(--toastive-border-width, 1px) solid var(--toastive-border-color, #ededed);
	border-radius: var(--toastive-border-radius, 0.25rem);
	box-shadow: var(--toastive-box-shadow, 0 4px 12px rgba(0, 0, 0, 0.1));
	color: var(--color);
	display: flex;
	flex-direction: column;
	font-family: var(--toastive-font-family, inherit);
	font-size: var(--font-size);
	justify-content: flex-start;
	padding: var(--padding-vertical) var(--padding-horizontal);
	position: relative;
	transition:
		background 0.3s ease-in-out,
		border-color 0.3s ease-in-out,
		color 0.3s ease-in-out,
		padding 0.3s ease-in-out;
	width: 100%;
}

.toastive.top-left,
.toastive.top-right {
	animation: toastive-slide-top 0.3s ease-in-out;
}

.toastive.bottom-left,
.toastive.bottom-right {
	animation: toastive-slide-bottom 0.3s ease-in-out;
}

.toastive.success {
	--color: var(--toastive-success-content-color, #008a2e);

	background: var(--toastive-success-background-color, #ecfdf3);
	border-color: var(--toastive-success-border-color, #d3fde5);
	color: var(--color);
	padding-left: 3rem;
}

.toastive.info {
	--color: var(--toastive-info-content-color, #0973dc);

	background: var(--toastive-info-background-color, #f0f8ff);
	border-color: var(--toastive-info-border-color, #d3e0fd);
	color: var(--color);
	padding-left: 3rem;
}

.toastive.warning {
	--color: var(--toastive-warning-content-color, #dc7609);

	background: var(--toastive-warning-background-color, #fffcf0);
	border-color: var(--toastive-warning-border-color, #fdf5d3);
	color: var(--color);
	padding-left: 3rem;
}

.toastive.error {
	--color: var(--toastive-error-content-color, #e60000);

	background: var(--toastive-error-background-color, #fff0f0);
	border-color: var(--toastive-error-border-color, #ffe0e1);
	color: var(--color);
	padding-left: 3rem;
}

.toastive.loading {
	padding-left: 3rem;
}

.toastive__progress {
	background-color: var(--toastive-progress-color, var(--color));
	bottom: 0;
	height: var(--toastive-progress-height, 0.25rem);
	left: 0;
	opacity: var(--toastive-progress-opacity, 0.5);
	position: absolute;
	width: 100%;
}

.toastive__close {
	background: none;
	border: none;
	color: var(--toastive-close-button-color, var(--color));
	cursor: pointer;
	padding: 0;
	position: absolute;
	right: var(--padding-horizontal);
	top: 50%;
	transform: translateY(-50%);
	width: var(--toastive-close-button-size, 1rem);
	height: var(--toastive-close-button-size, 1rem);
}

.toastive__close > svg {
	stroke-width: 1.5;
	height: 100%;
	width: 100%;
}

/* Media queries */

@media (max-width: 576px) {
	:host {
		width: 100%;
	}
}

/* Animations */

@keyframes toastive-slide-top {
	from {
		opacity: 0;
		transform: translateY(-100%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes toastive-slide-bottom {
	from {
		opacity: 0;
		transform: translateY(100%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
